resources:
  - namespace.yaml
  - configurer/deployment.yaml
  - configurer/serviceaccount.yaml
  - configurer/rbac.yaml
  - configurer/secret.yaml

images:
 - name: ghcr.io/bank-vaults/bank-vaults
   newTag: 1.31.1

helmCharts:
- name: vault
  releaseName: vault
  version: 0.28.1
  repo: https://helm.releases.hashicorp.com
  namespace: vault
  valuesInline:
    server:
      dataStorage:
        storageClass: openebs-hostpath
      logFormat: json
      enabled: true
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - host: vault.bandit.shutthegoatup.com
      ha:
        enabled: true
        setNodeId: true
        replicas: 3
        raft:
          enabled: true
          config: |
            ui = true
            plugin_directory = "/usr/local/libexec/vault"
            disable_mlock = true
            listener "tcp" {
              tls_disable = 1
              address = "[::]:8200"
              cluster_address = "[::]:8201"
              # Enable unauthenticated metrics access (necessary for Prometheus Operator)
              telemetry {
                unauthenticated_metrics_access = "true"
              }
            }
            storage "raft" {
              path = "/vault/data"
              retry_join {
                auto_join = "provider=k8s label_selector=\"app.kubernetes.io/name=vault,component=server\" namespace=\"{{ .Release.Namespace }}\"" 
                auto_join_scheme = "http"
                auto_join_port = 8200
              }
            }

            service_registration "kubernetes" {}

            telemetry {
              prometheus_retention_time = "30s"
              disable_hostname = true
            }
      extraContainers: 
        - name: vault-unseal
          image: ghcr.io/bank-vaults/bank-vaults:1.20.4
          env:
            - name: VAULT_ADDR
              value: http://127.0.0.1:8200
          args:
            - unseal
            - --mode
            - k8s
            - --k8s-secret-name
            - vault-config-manager
            - --k8s-secret-namespace
            - vault
            - --raft-ha-storage
            - --raft-leader-address
            - "http://vault-active:8200"
      volumes:
        - name: plugins
          emptyDir: {}
      volumeMounts:
        - mountPath: /usr/local/libexec/vault
          name: plugins
          readOnly: true

    csi:
      enabled: false

    injector:
      enabled: false

