resources:
  - namespace.yaml

helmCharts:
- name: vault
  releaseName: vault
  version: 0.28.1
  repo: https://helm.releases.hashicorp.com
  namespace: vault
  valuesInline:
    server:
      dataStorage:
        storageClass: openebs-hostpath
      logLevel: trace
      logFormat: json
      enabled: true
      ingress:
        enabled: true
        ingressClassName: nginx
        hosts:
          - host: vault.bandit.shutthegoatup.com
      standalone:
        config: |
          ui = true
          plugin_directory = "/usr/local/libexec/vault"
          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
            # Enable unauthenticated metrics access (necessary for Prometheus Operator)
            telemetry {
              unauthenticated_metrics_access = "true"
            }
          }
          storage "file" {
            path = "/vault/data"
          }

          telemetry {
            prometheus_retention_time = "30s"
            disable_hostname = true
          }
      volumes:
        - name: plugins
          emptyDir: {}
      volumeMounts:
        - mountPath: /usr/local/libexec/vault
          name: plugins
          readOnly: true

    csi:
      enabled: false

    injector:
      enabled: false

