apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minio-operator

helmCharts:
- name: operator
  releaseName: minio-operator
  version: 6.0.4
  repo: https://operator.min.io/
  namespace:  minio-operator
