
commonAnnotations:
  kapp.k14s.io/update-strategy: fallback-on-replace

resources:
- namespace.yaml
- https://raw.githubusercontent.com/external-secrets/external-secrets/v0.10.4/deploy/crds/bundle.yaml
- ./vault.yaml

helmCharts:
- name: external-secrets
  releaseName: external-secrets
  version: 0.10.4
  repo: https://charts.external-secrets.io
  namespace: external-secrets
  includeCRDs: false
  valuesInline:
    installCRDs: false
