apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-dns

images:
  - name: registry.k8s.io/external-dns/external-dns
    newTag: v0.14.1

resources:
  - ./external-dns-deployment.yaml
  - ./external-dns-serviceaccount.yaml
  - ./external-dns-clusterrole.yaml
  - ./external-dns-clusterrolebinding.yaml
  - ./namespace.yaml
  - ./secret.yaml

replacements:
- source:
    kind: Secret
    name: platform-secrets
    namespace: kube-system
  fieldPaths:
    - data.cloudflare_apitoken    
  targets:
  - select:
      kind: Secret
      name: cloudflare
      namespace: external-dns
    fieldPaths:
    - data.cloudflare_apitoken