resources:
  - namespace.yaml

helmCharts:
- name: base
  releaseName: istio-base
  version: 1.25.0
  repo: https://istio-release.storage.googleapis.com/charts
  namespace: istio-system
  valuesInline:
    defaultRevision: default
- name: istiod
  releaseName: istiod
  version: 1.22.2
  repo: https://istio-release.storage.googleapis.com/charts
  namespace: istio-system
