commonAnnotations:
  kapp.k14s.io/update-strategy: fallback-on-replace


resources:
  - namespace.yaml
  - db.yaml
  - secrets.yaml

namespace: zitadel

helmCharts:
- name: zitadel
  releaseName: zitadel
  namespace: zitadel
  version: 8.5.0
  repo: https://charts.zitadel.com
  valuesInline:
    zitadel:
      masterkeySecretName: masterkey
      configmapConfig:
        ExternalSecure: true
        ExternalDomain: zitadel.ghost.shutthegoatup.com
        TLS:
          Enabled: false
        Database:
          Postgres:
            MaxOpenConns: 20
            MaxIdleConns: 10
            MaxConnLifetime: 30m
            MaxConnIdleTime: 5m
        DefaultInstance:
          SMTPConfiguration:
            SMTP:
              Host: mailhog.mailhog.svc.cluster.local:1025
          InstanceName: ZITADEL # ZITADEL_DEFAULTINSTANCE_INSTANCENAME
          DefaultLanguage: en # ZITADEL_DEFAULTINSTANCE_DEFAULTLANGUAGE
          Org:
            Name: Shut The Goat Up # ZITADEL_DEFAULTINSTANCE_ORG_NAME
            # In the DefaultInstance.Org.Human section, the initial organization's admin user with the role IAM_OWNER is defined.
            # If DefaultInstance.Org.Machine.Machine is defined, a service user is created with the IAM_OWNER role.
            Human:
              UserName: allan@shutthegoatup.com
              FirstName: Allan
              LastName: Degnan
              NickName: Allan
              DisplayName: Allan
              Email:
                Address: # allan@shutthegoatup.com
                Verified: true # ZITADEL_DEFAULTINSTANCE_ORG_HUMAN_EMAIL_VERIFIED
              PreferredLanguage: en # ZITADEL_DEFAULTINSTANCE_ORG_HUMAN_PREFERREDLANGUAGE

    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: zitadel.ghost.shutthegoatup.com
          paths:
            - path: /
              pathType: Prefix
    env:
    - name: ZITADEL_DATABASE_POSTGRES_HOST
      valueFrom:
        secretKeyRef:
          name: zitadel-app
          key: host
    - name: ZITADEL_DATABASE_POSTGRES_PORT
      valueFrom:
        secretKeyRef:
          name: zitadel-app
          key: port
    - name: ZITADEL_DATABASE_POSTGRES_DATABASE
      valueFrom:
        secretKeyRef:
          name: zitadel-app
          key: dbname
    - name: ZITADEL_DATABASE_POSTGRES_USER_USERNAME
      valueFrom:
        secretKeyRef:
          name: zitadel-app
          key: user
    - name: ZITADEL_DATABASE_POSTGRES_USER_PASSWORD
      valueFrom:
        secretKeyRef:
          name: zitadel-app
          key: password
    - name: ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE
      value: disable 
    - name: ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME
      valueFrom:
        secretKeyRef:
          name: zitadel-superuser
          key: user
    - name: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: zitadel-superuser
          key: password
    - name: ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE
      value: disable 
    - name: ZITADEL_DEFAULTINSTANCE_ORG_HUMAN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: zitadel-humanuser
          key: password
