resources:
  - ../../../bases/operators
  - ../../../bases/eks-pod-identity-webhook
  - ../../../bases/external-secrets

patches:
  - patch: |
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: external-secrets
        annotations:
          eks.amazonaws.com/role-arn: "arn:aws:iam::512964320231:role/bandit-role"
    target:
      kind: ServiceAccount
      name: external-secrets

