resources:
  - ../../../bases/secrets
  - ../../../bases/external-dns
  - ../../../bases/cert-manager
  - ../../../bases/ingress-nginx
  - ../../../bases/istio

components:
  - ../../../components/replace-secrets

helmCharts:
- name: cilium
  releaseName: cilium
  version: 1.17.1
  repo: https://helm.cilium.io/
  namespace: kube-system
  includeCRDs: true
  valuesInline:
    cni:
      binPath: /usr/lib/cni
    kubeProxyReplacement: true
    k8sServiceHost: "192.168.1.1"
    k8sServicePort: "6443"
    operator:
      replicas: 1
    socketLB:
      enabled: true
      hostNamespaceOnly: true
    externalIPs:
      enabled: true
    nodePort:
      enabled: true
    hostPort:
      enabled: true
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: "10.244.0.0/16"
    routingMode: native
    mtu: 1500
    ipv4:
      enabled: true
    ipMasqAgent:
      enabled: false
    enableIPv4Masquerade: true
