---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: ingress-nginx
    releaseName: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    namespace: ingress-nginx
    version: 4.10.0
    includeCRDs: true
    valuesInline:
      controller:
        tolerations: 
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
        metrics: 
          enabled: true
        hostNetwork: true
        hostPort:
          enabled: true
        extraArgs: 
          default-ssl-certificate: "kube-ingress/wildcard-tls"
        config:
          force-ssl-redirect: true
        kind: DaemonSet
        service:
          type: ClusterIP
        ingressClassResource:
          default: true
      defaultBackend:
        enabled: true

resources:
  - namespace.yaml

