apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

replacements:
- source:
    kind: Secret
    name: platform-secrets
    namespace: kube-system
    fieldPath: data.cloudflare_apitoken    
  targets:
  - select:
      kind: Secret
      name: cloudflare
      namespace: external-dns
    fieldPaths:
    - data.cloudflare_apitoken