---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: ingress-nginx
    releaseName: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    namespace: ingress-nginx
    version: 4.10.0
    includeCRDs: true
    valuesInline:
      controller:
        admissionWebhooks:
          annotations: 
            sidecar.istio.io/inject: "false"
        tolerations: 
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
        metrics: 
          enabled: true
        hostNetwork: true
        hostPort:
          enabled: true
        extraArgs: 
          default-ssl-certificate: "ingress-nginx/wildcard-tls"
        config:
          force-ssl-redirect: true
        kind: DaemonSet
        service:
          type: ClusterIP
          annotations:
            external-dns.alpha.kubernetes.io/hostname: "millie.shutthegoatup.com, bandit.shutthegoatup.com, *.millie.shutthegoatup.com,*.bandit.shutthegoatup.com"
        ingressClassResource:
          default: true
      defaultBackend:
        enabled: true


resources:
  - namespace.yaml
  - issuer.yaml
  - certificate.yaml
  - secret.yaml

