on: 
  workflow_call:
    inputs:
      cluster:
        description: 'Cluster Deploy Target'
        required: true
        type: string
      runs-on:
        description: 'Github Runner Name'
        default: 'ubuntu-latest'
        required: false
        type: string
    secrets:
      CLOUDFLARE_APITOKEN:
        required: true

permissions:
    id-token: write

jobs:
    deploy:
        name: ${{ matrix.stage }}
        strategy:
          max-parallel: 1
          matrix:
            stage: [01_init, 02_network, 03_operators, 04_services]
        runs-on: ubuntu-latest
        steps: 
          - uses: actions/checkout@v4
            with:
              token: ${{secrets.GITHUB_TOKEN}}
          - uses: yokawasa/action-setup-kube-tools@v0.11.1
          - uses: carvel-dev/setup-action@v2
            with:
              token: ${{secrets.GITHUB_TOKEN}}
              only: kapp
          - uses: shutthegoatup/kube-login@v1
            with:
              cluster: ${{ inputs.cluster }}
          - run: |
                cat << EOF > ./kustomize/bases/secrets/.env.secret
                cloudflare_apitoken=${{ secrets.CLOUDFLARE_APITOKEN }}
                EOF
                cat << EOF > ./kustomize/bases/config/.env.config
                server_name=${{ inputs.cluster }}
                EOF
          - run: |
                kustomize build --enable-helm ./kustomize/overlay/${{ inputs.cluster }}/${{ matrix.stage }} | kapp deploy -a $(echo homelab_${{ matrix.stage }} | sed --expression='s/_/-/g') -f - -y

