on: 
  workflow_call:
    inputs:
      cluster:
        description: 'Cluster to Deploy too.'
        required: true
        type: string
      runs-on:
        description: 'Github Runner Name'
        default: 'ubuntu-latest'
        required: false
        type: string

permissions:
    id-token: write

jobs:
    write_platform_secrets:
        name: Save Static Secrets to Files
        runs-on: ubuntu-latest
        steps: 
          - uses: actions/checkout@v4
          - uses: yokawasa/action-setup-kube-tools@v0.11.1
          - uses: ./.github/actions/kube-login
            with:
              cluster: ${{ inputs.cluster }}
          - run: |
                cat << EOF > ./kustomize/base/secrets/.env.secret
                cloudflare_apitoken=${{secrets.cloudflare_apitoken}}
                EOF
          - run: |
                kubectl apply -k ./kustomize/base/secrets

