---
name: "Manual Run"

on: 
  workflow_dispatch:

jobs:
  plan: 
    strategy:
      matrix:
        folder: [02_network, 03_observability, 04_operators, 05_cicd]
    name: terraform plan   
    runs-on: gha-runner-scale-set
    container: hashicorp/terraform:latest
    defaults:
      run:
        working-directory: terraform/${{ matrix.folder }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3          
      - run: terraform init
      - id: plan
        run: terraform plan -lock=false
          
                
          