---
name: "Manual Run"

on: 
  workflow_dispatch:

jobs:
  deploy:
    strategy:
      matrix:
        cluster: [bandit, ghost]
    uses: ./.github/workflows/deploy.yaml
    with:
      cluster: ${{ matrix.cluster }}
    secrets: inherit
          
                
          