---
name: "Manual Run"

on: 
  workflow_dispatch:

jobs:
  deploy-secrets:
    strategy:
      matrix:
        cluster: [bandit, ghost]
    uses: ./.github/workflows/deploy-secrets.yaml
    with:
      cluster: ${{ matrix.cluster }}

          
                
          