---
name: "Pull Request"

on:
  pull_request:
    branches:
    - main

jobs:
  plan:
    if: github.event.pull_request.merged != true
    strategy:
      matrix:
        folder: [02_network, 03_observability, 04_cicd, 05_services]
    name: network   
    runs-on: b
    container: hashicorp/terraform:latest
    defaults:
      run:
        working-directory: terraform/${{ matrix.folder }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3          
      - run: terraform init
      - id: plan
        run: terraform plan

