---
name: "Pull Request"

on:
  pull_request:
    branches:
    - main

jobs:
  plan:
    if: github.event.pull_request.merged != true
    uses: shuthegoatup/homelab/.github/workflows/environment.yaml@addKustomize

