---
name: "Scheduled Run"
on:
  schedule: 
    - cron:  '0 */8 * * *'

jobs:
  plan:
    strategy:
      matrix:
        cluster: [bandit, ghost]
    uses: ./.github/workflows/deploy-secrets.yaml
    with:
      cluster: ${{ matrix.cluster }}

