---
name: "Scheduled Run"
on:
  schedule: 
    - cron:  '0 */8 * * *'

jobs:
  deploy:
    strategy:
      matrix:
        cluster: [bandit, ghost]
    uses: ./.github/workflows/deploy.yaml
    with:
      cluster: ${{ matrix.cluster }}

